/* 改变主题色变量 */
$--color-primary: #ec7259;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

/*===================全局样式==================*/
.no-padding {
  padding: 0px;
}

/*===================全局样式==================*/
