.login-container {
  display: table;
  width: 100%;
}

.main-title {
  text-align: center;
}

.main-des {
  text-align: center;
  color: #999;
  margin-bottom: 2em;
}

.login-form {
  margin: 13% auto 0;
}

.login-input {
  width: 350px;
  margin: auto auto;
}

.login-page {
  background: #fff;
}
